.main-part {
    padding-top: calc(var(--index)*1.2);
    width: calc(var(--index)*17);

}
.Abut-title {
    justify-content: left;
    padding-left: calc(var(--index)*1.5);
    font-weight: 700;
    font-size: calc(var(--index)*1.2);
}
.About {
    padding-left: calc(var(--index)*1.5);
    margin-left: auto;
    margin-right: auto;
    font-size: calc(var(--index)*0.7);
    line-height:calc(var(--index)*1.1);
}